.first-v {
  position: relative;
  z-index: 3;
  @include sp {
    
  }
}

.fv-bg {
  display: flex;
  .fv-bgc {
    background-color: #fff;
    width: 92.5%;
    height: 100vh;
      @include tub {
        display: none;
      }
    }
  }
  
  .fv-img {
    background-image: url(../img/component.png);
      background-size: cover;
      width: 107.5%;
      height: 100vh;
      z-index: 2;
      @include tub {
        background-position: left;
        height: 945.6px;
        }
    }
    
  


.item {

  .hair {
    color: #000;
    width: 62.1%;
    min-width: 326px;
    font-size: 3.8rem;
    position: absolute;
    top: 39.3%;
    left: 43.8%;
    transform: translate(-50%, -50%);
    @include tub {
      color: #fff;
      font-size: 3.6rem;
      top: 51.3%;
      left: 57.8%;
      text-shadow: 0px 4.5px 25.5px #000;
      z-index: 6;
    }
  }
    .wnh {
      color: #000;
      font-family: cursive;
      width: 68.3%;
      font-size: 6.1rem;
      letter-spacing: 3.8px;
      position: absolute;
      top: 55.8%;
      left: 41.8%;
      transform: translate(-50%, -50%);
      min-width: 399px;
      @include tub {
      color: #fff;
      width: 77.1%;
      min-width: 489px;
      font-size: 7.0rem;
      letter-spacing: 4.5px;
      top: 41%;
      left: 50.5%;
      text-shadow: 0px 4.5px 25.5px #000;
      z-index: 6;
      }
     }
   }