//mixin

@mixin pc {
  @media screen and (min-width: 900px){
    @content;
  }
}

@mixin tub {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: 594px){
    @content;
  }  
}

// 共通

html {
  font-size: 62.5%;
}


.hair {
  font-family: serif;
}

.inner {
  width: 100% - 8.3% * 2;
  margin: 0 auto;
  @include sp {
    width: 100% - 5.5% * 2;
    margin: 0 auto;
  }
}

.title {
  font-size: 2.4rem;
  letter-spacing: 5.4px;
  color: #707070;
    &::after {
      display: inline-block;
      content: "";
      border-top: 1px solid;
      width: 9.9rem;
      margin-left: 2.25rem;
      position: absolute;
      top: 12.5px;
   
    }
  }

.title {
  @include tub {
    padding: 95px 0 79px;

    &::after {
      @include tub {
      position: static;
      margin-bottom: 11.5px;
      width: 4.4rem;
      }
    }
  }
}